html {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

body .github-fork-ribbon:before {
  background-color: #333;
}

/* @media screen and (max-width: 400px) {
  .github-fork-ribbon {
    display: none;
  }
} */