@import '~antd/dist/antd.css';

.left {
    margin-right: 55%;
}

.right {
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: right;
}

.right .ant-list-item-meta-content {
    padding-right: 16px;
}