<html>

<head>
  <title>koa ejs</title>

  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '190367064888915',
        cookie: true,
        xfbml: true,
        version: 'v2.12'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
      FB.getLoginStatus(function (response) {
        console.log(response)
        //statusChangeCallback(response);
      });

      //FB.api("/me?fields=id,name,email,picture", (response) => {
      FB.api("/me/picture?type=large", (response) => {
        console.log(response)
      })
    }

  </script>

</head>

<body>
  <h3>koa ejs</h3>
  <%- body %>
</body>

</html>