
<table>
    <thead>
    <tr>
        <th class="white_b" scope="col">ID</th>
        <th class="white_b" scope="col">FIRSTNAME</th>
        <th class="white_b" scope="col">LASTNAME</th>
        <th class="white_b" scope="col">SALARY</th>
        <th class="white_b" scope="col">ROLE</th>
    </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user) {%>
            <tr>
                <td class="blu" align="center"><%=user.id%></td>
                <td class="blu" align="center"><%=user.firstname%></td>
                <td class="blu" align="center"><%=user.lastname%></td>
                <td class="blu" align="center"><%=user.salary%></td>
                <td class="blu" align="center"><%=user.role%></td>
            </tr>
        <% });%>
    </tbody>
</table>


<style>
p,
table, caption, td, tr, th {
    margin:0;
    padding:0;
    font-family: "DBHelvethaicaX-Li", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

/* ---- Paragraphs ---- */

p {
    margin-bottom:15px;
    }

/* ---- Table ---- */

table {
    border-collapse:collapse;
    margin-bottom:15px;
    width:100%;
    }
    
    caption {
        /*text-align:left;*/
        /*font-size:15px;*/
        font-size: 1.657em;
        padding-bottom:10px;
        }
    
    table td,
    table th {
        padding:5px;
        border:1px solid #fff;
        border-width:0 1px 1px 0;
        font-size: 1.357em;
        font-weight:normal;
        /*text-align:left;*/
        }
        
    thead th {
        background:#063868;
        text-align:center;
        }
            
        thead th[colspan],
        thead th[rowspan] {
            /*text-align:center;*/
            background:#063868;
            height:30px;
            }
        
    tbody th {
        /*text-align:center;*/
        background:#dcdcdc;
        height:30px;
    }
    tfoot th {
        /*text-align:center;*/
        background:#063868;
        height:30px;
        }
        
    tbody td {
        /*text-align:center;*/
        background:#f2f2f2;
    }

    tfoot td {
        /*text-align:center;*/
        background:#f2f2f2;
        }
        
    tfoot th {
        background:#063868;
        }
        
    tfoot td {
        background:#063868;
        font-weight:bold;
        }
            
    tbody tr.odd td { 
        background:#d7effb;
        }

.white {
    color: #FFFFFF;}
.white_b {color: #FFFFFF; font-weight: bold; }
.org {color: #ff9c00; font-weight: bold; }
.blu {color: #063868; }
.blu_b {color: #063868; font-weight: bold; }
.red {color: #FF0000; font-weight: bold;}
            
</style>