.floating-box {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin: 10px;
  border: 3px solid #73AD21; 
}

.after-box {
  clear: left;
  border: 3px solid red;      
}

.floating-box2 {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin: 10px;
  border: 3px solid #73AD21;  
}

.after-box2 {
  border: 3px solid red; 
}