body {
  margin: 0;
}
.container {
  position: relative;  
}
header {
  top:0;
  height: 20%;
  background: black;
  color: white;
}
aside {
  left:0;
  width:30%;
  background: red;
  position: absolute;
}
.content {
  margin-left: 30%;
  background: greenyellow;
}
footer {
  position: fixed;
  width:100%;
  background: gold;
}
