/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  
  /* Carousel base class */
  .carousel {
    height: 600px;
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 600px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
  }
  
  .toplabel {
    background-color: rgba(56, 129, 240, 0.863);
    color: white;
    height: 40px;
    padding-left: 30px;
    padding-top: 8px;
    font-size: 1.2em;
    /* vertical-align: middle;  
    padding-block-end: 5px; */
  }
  
  .cart {
    background-color: rgba(255, 174, 0, 0.856);
    border-radius: 5px;
    width: 150px;
    text-align: center;
    /* padding: 5px; */
  }
  
  .items {
    border: 1px solid rgb(185, 185, 185);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .btn-success {
    margin-bottom: 20px;
  }