@import '~antd/dist/antd.css';

.App {
  text-align: center;
  margin-top: 100px;
}

.signUpBox {
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
}

.login-form-button {
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
row{ 
  background-color: rgb(43, 184, 250)
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.StaticLoggedOutHomePage .StreamsFooter {
  position: static;
}

.StaticLoggedOutHomePage .StreamsFooter-list {
  background: #fff;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
  
}

.StreamsFooter-item {
  display: inline-block;
  padding: 0 9px 0 9px;
}
.changeBG{
  background-color: rgb(72, 160, 236)
}
@media screen and (max-width: 500px) {
  .changeBG{
    background-color: black
  }
}