div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: rgb(122, 180, 202);
  clear: left;
  text-align: center;
}

nav {
  /* float: left; */
  width: 100%;
  /* position: absolute; */
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  /* display: table-cell; */
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}
 
nav ul a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  line-height: 24px;
  padding: 10px;
}

article {
  /* position: absolute; */
  /* display: inline-block; */
  text-align: center;
  padding: 1em;
  overflow: hidden; 
}

.box-left {
  margin-left: 10%;
  width: 40%;
  float: left;
  height: 300px;
  /* background-color: blue; */
  /* position: relative; */
  /* margin-right: 50px; */
}

article .box-left h1 {
  margin-left: 60%;
  text-align: left;
}
article .box-left ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;  
  margin-left: 60%;
  text-align: left;
}

.box-right {
  margin-right: 10%;
  width: 39%;
  float: right;
  height: 300px;
  /* background-color: green; */
  border-left: 1px solid gray;
  /* position: relative; */
  /* margin-left: 50px; */
  /* color: white; */
}

article .box-right h1 {
  margin-left: 20%;
  text-align: left;
}
article .box-right ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;  
  margin-left: 20%;
  text-align: left;
}
