div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: rgb(122, 180, 202);
  clear: left;
  text-align: center;
}

nav {
  /* float: left; */
  width: 100%;
  /* position: absolute; */
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  /* display: table-cell; */
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}
 
nav ul a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  line-height: 24px;
  padding: 10px;
}

.listview {
  text-align: center;
  padding: 1em;
  overflow: hidden; 
}

.boxview {
  /* margin-left: 10%; */
  width: 24%;
  /* float: left; */
  height: 300px;
  /* background-color: blue; */
  /* position: relative; */
  /* margin-right: 50px; */
  display: inline-block;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
}

.flex-container>div {
  background-color: #f1f1f1;
  /* width: 100px; */
  width: 23%;
  padding-top: 20px;
  margin: 10px;
  text-align: center;
  /* line-height: 75px; */
  font-size: 10px;
}
