div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: rgb(122, 180, 202);
  clear: left;
  text-align: center;
}

.resume {
  width:98% ; 
  margin:10px;
}

.resume-pic {
  text-align: center;
}
.resume-name {
  padding: 20px;
}
.resume-description {
  padding: 20px;
}
.resume-about {
  padding: 20px;
}
.resume-professional {
  padding: 20px;
}
.resume-personal {
  padding: 20px;
}
.resume-workexp {
  padding: 20px;
}
.resume-education {
  padding: 20px;
}

