div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}

nav {
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
 
nav ul a {
  text-decoration: none;
}

nav ul li a{
  /* float: left; */
  display: inline-block;
  width: 30%;
}

article {
  margin-left: 170px;
  border-left: 1px solid gray;
  text-align: center;
  padding: 1em;
  overflow: hidden;
}