div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: rgb(122, 180, 202);
  clear: left;
  text-align: center;
}

nav {
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}

nav ul {
  list-style-type: disc;
  padding: 0;
}
 
nav ul a {
  text-decoration: none;
}

article {
  margin-top: 10px;
  margin-left: 170px;
  border-left: 2px solid gray;
  padding: 1em;
  overflow: hidden;
}